.venv
.direnv

# web-application
web-application/logs
*.log
web-application/npm-debug.log*
web-application/yarn-debug.log*
web-application/yarn-error.log*
web-application/pnpm-debug.log*
web-application/lerna-debug.log*

web-application/node_modules
web-application/dist
web-application/dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

web-application/src-tauri/gen